@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  main {
    @apply h-screen w-full;
  }

  nav,
  footer {
    @apply bg-gray-800;
  }

  nav {
    @apply shadow-lg;
  }

  /* transition */
  * {
    @apply transition-all duration-200;
  }

  button,
  input {
    @apply rounded-md p-2 disabled:cursor-not-allowed;
  }

  button {
    @apply w-fit rounded-full border-[1px]
    border-solid border-gray-700 bg-gray-900 px-4 text-gray-200 hover:bg-gray-800;
  }

  button > i {
    @apply m-0 block h-fit w-fit p-0;
  }

  a {
    @apply text-gray-500 hover:underline;
  }

  input {
    @apply rounded-full border-[1px] border-solid
    border-gray-700 bg-gray-900 px-4 text-sm 
    text-gray-400 transition-all duration-200
    placeholder:tracking-widest invalid:border-red-800 hover:bg-gray-800
    focus:bg-gray-800 focus:outline-none
    disabled:bg-gray-700;
  }

  input[type="checkbox"] {
    @apply mx-2 inline w-fit;
  }
}

@layer components {
  .form-group > input {
    @apply my-2;
  }

  .form-group > label {
    @apply block;
  }
}

@layer utilities {
  .grid-center {
    @apply grid place-content-center place-items-center;
  }
}

.animate-entry {
  animation: fade_in_out 0.5s forwards;
  @apply static top-0 left-0 h-screen w-full blur-sm;
}

@keyframes fade_in_out {
  to {
    @apply blur-0;
  }
}

.progress-bar {
  @apply absolute top-0 left-0 h-full w-0 bg-[rgba(0,0,0,0.25)];
  animation: progress_bar 1s infinite 2s;
}

@keyframes progress_bar {
  to {
    @apply w-full;
  }
}
